<div class="entry">
  <h1><a href="/entry/{{ entry.slug }}">{{ escape(entry.title) }}</a></h1>
  <div class="date">By Bret Taylor &middot; {{ locale.format_date(entry.published, full_format=True, shorter=True) }}</div>
  <div class="body">{{ entry.markdown }}</div>
  {% if not show_comments %}
    <div class="footer">
      <a href="/entry/{{ entry.slug }}#disqus_thread">Comments</a>
    </div>
  {% end %}
  {% if current_user and current_user.administrator %}
    <div class="footer">
      <a href="/compose?key={{ str(entry.key()) }}">{{ _("Edit this post") }}</a>
    </div>
  {% end %}
  {% if show_comments %}
    <div id="disqus_thread"></div>
  {% end %}
</div>
