{% extends "sidebar.html" %}

{% block title %}About Bret Taylor{% end %}

{% block content %}
  <h1 style="margin-bottom:6pt">About Bret Taylor</h1>
  <p>I am currently Director of Products at <a href="http://www.facebook.com/">Facebook</a>, where I work on the <a href="http://developers.facebook.com/">Facebook Platform</a>. Previously, I was the co-founder and CEO of <a href="http://friendfeed.com/">FriendFeed</a>. Facebook acquired FriendFeed in August 2009. If you want to know more about me, <a href="http://friendfeed.com/bret" rel="me">subscribe to my FriendFeed</a> or visit my <a href="http://www.facebook.com/btaylor">Facebook profile</a>.</p>
  <p>Before starting FriendFeed, I was a Group Product Manager at <a href="http://www.google.com/">Google</a>, where I co-created <a href="http://maps.google.com/">Google Maps</a> and Google Local. After Google Maps, I helped start <a href="http://code.google.com/">Google's developer product group</a>.</p>
  <p>You can reach me at <a href="mailto:btaylor@gmail.com">btaylor@gmail.com</a>, though I am notoriously bad at answering email.</p>
  <p><a href="/">&laquo; Back to the blog</a></p>
{% end %}
